body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  color: white;
  text-align: center;
  margin-top: 20px;
}

.container {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  background-color: #f48db4;
}

form {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0d9da;
}

form input[type="text"],
form input[type="email"],
form textarea {
  width: 50%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form input[type="submit"] {
  background-color: #f48db4;
  color: #fff;
  border: 1px solid #f48db4;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #f48db4;
}

form input[type="submit"]:hover {
  background-color: #f48db4;
}
header {
  background: #f48db4;
  padding: 10px 0;
  text-align: center;
}
.titulo1 {
  color: #fff;
  font-size: 2.5em;
  margin: 0;
}
.titulo2 {
  color: #fff;
  font-size: 1em;
  margin: 0;
}
.button-submit {
  background-color: pink;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}